<script>
  // アロー関数
  // const returnName = (value) => {
  //   return 'kazu';
  // };
  // アロー関数の引数が1つのとき、`()`を省略できる
  // const returnName = value => {
  //   return 'kazu';
  // };
  // 処理が単一行の時は`{}`も`return`も省略できる
  // const returnName = value => 'kazu'

  // アロー関数を使いつつ、複数行を返す場合は`()`で囲む
  // const returnName = (name, age) => (
  //   {
  //     name: name,
  //     age: age
  //   }
  // )

  // // アロー関数の引数が1つのとき、`()`を省略できる
  // console.log(returnName('kazu', 12));
</script>

<script> // 分割代入
  // const profile = ['kazu', 12]

  // // こうやって毎回profileを書くのは面倒くさいよね
  // // const message = `私の名前は${profile.name}です。年齢は${profile.age}です。`;

  // // 分割代入を使うと、こう書ける
  // // 順番が違ってても名前があってたら取れる
  // // const { age, name } = profile;

  // // 新しい名前をつけられるよ
  // // const { name: newName, age: newAge } = profile;
  // // const message = `私の名前は${newName}です。年齢は${newAge}です。`;

  // // 配列の場合でも、indexをわざわざ書くのはだるい
  // // const message = `私の名前は${profile[0]}です。年齢は${profile[1]}です。`;

  // // こういう配列の時でも分割代入を用いるとこうかける
  // const [name, age] = profile;
  // const message = `私の名前は${name}です。年齢は${age}です。`;

  // console.log(message);
</script>

<script> // デフォルト値
  // `=`を使ってデフォルト値を設定できる
  // `こんにちは、デフォルト名さん！`となる
  // const sayHelloTo = (name = 'デフォルト名') => console.log(`こんにちは、${name}さん！`)

  // スプレッド構文
  const arr = [1, 2, 3];
  const sumNumbers = (num1, num2, num3) => console.log(num1 + num2 + num3);
  sumNumbers(...arr);
</script>

<h1>
  Hello
</h1>
